@font-face {
    font-family: 'Arvo';
    src: url(fonts/Arvo-Regular.woff) format('woff');
    font-weight: 400;
    display: swap;
}

@font-face {
    font-family: 'Arvo';
    src: url(fonts/Arvo-Bold.woff) format('woff');
    font-weight: 800;
    display: swap;
}